fastapi
uvicorn[standard]
transformers
torch
pyttsx3
python-multipart
requests
audio-recorder-streamlit
soundfile
numpy
itsdangerous
streamlit-webrtc
slowapi
pydantic
bleach
gtts
pydub
llama-cpp-python
