fastapi
uvicorn[standard]
transformers
torch
pyttsx3
python-multipart
streamlit
requests
audio-recorder-streamlit
soundfile
numpy
itsdangerous
streamlit
requests
audio-recorder-streamlit
soundfile
numpy
streamlit-webrtc
itsdangerous
slowapi
pydantic
bleach 